<?php

$host = 'localhost';
$dbUser = 'root';
$dbPass = 'root';
$dbName = 'PaperShop';
$charset = 'utf8';

// Set DSN
$dsn = "mysql:host=$host;dbname=$dbName;charset=$charset";

// Create PDO instance
$pdo = new PDO($dsn, $dbUser, $dbPass);
